<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blog's Register</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <link rel="icon" href="https://liangweijiang.github.io/avatar/lwj01.jpg">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
    <link rel="stylesheet" href="{% static 'css/user_form.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
</head>
<body>
<div class="page login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6" id="box-logo">
                    <div class="info d-flex align-items-center">
                        <div class="content">
                            <div class="logo">
                                <h1>欢迎注册</h1>
                            </div>
                            <h2>Jiang's Blog[<a href="{% url 'index' %}" style="color: gray">return Home</a>]</h2>
                        </div>
                    </div>
                </div>
                <!-- Form Panel    -->
                <div class="col-lg-6 bg-white">
                    <div class="form d-flex align-items-center">
                        <div class="content">
                            <form method="post" action="" class="form-validate" id="loginFrom" novalidate>
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ reg_form.username }}
                                    <p class="text-danger"></p>{{ reg.form.username.errors.as_text }}
                                    <div class="invalid-feedback">
                                        用户名必须在2~10位之间
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ reg_form.email }}
                                    <p class="text-danger">{{ reg_form.email.errors.as_text }}</p>
                                    <div class="invalid-feedback">
                                        邮箱格式错误
                                    </div>
                                </div>
                                <div class="form-group" id="emmil-vcode">
                                    <input id="register-username" class="input-material " type="text" name="email_code" placeholder="点击'发送验证码'到邮箱" >
                                    <button type="button" id="send-vcode" class="btn btn-primary">获取验证码</button>
                                    <p id="tip" class="text-danger">{{ error }}</p>
                                </div>

                                <div class="form-group">
                                    {{ reg_form.password }}
                                    <p class="text-danger">{{ reg_form.password.errors.as_text }}</p>
                                    <div class="invalid-feedback">
                                        密码必须在6~10位之间
                                    </div>
                                </div>
                                <div class="form-group">
                                    {#                      <input id="register-passwords" class="input-material" type="password" name="registerPasswords" placeholder="确认密码"   >#}
                                    {{ reg_form.re_password }}
                                    <p class="text-danger">{{ reg_form.email.re_password.as_text }}</p>
                                    <div class="invalid-feedback">
                                        两次密码必须相同 且在6~10位之间
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button id="regbtn" type="submit" name="registerSubmit" class="btn btn-primary">注册
                                    </button>
                                </div>
                                <small>已有账号?</small>
                                <a href="{% url 'login' %}" class="signup">&nbsp;登录</a>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JavaScript files-->
<script src="{% static 'jquery/jquery-3.4.1.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
<script>
    $(function () {
        /*错误class  form-control is-invalid
        正确class  form-control is-valid*/
        var flagName = false;
        var flagPas = false;
        var flagPass = false;
        /*验证用户名*/
        var name, passWord, passWords;
        $("#register-username").change(function () {
            name = $("#register-username").val();
            if (name.length < 2 || name.length > 10) {
                $("#register-username").removeClass("form-control is-valid");
                $("#register-username").addClass("form-control is-invalid");
                flagName = false;
            } else {
                $("#register-username").removeClass("form-control is-invalid");
                $("#register-username").addClass("form-control is-valid");
                flagName = true;
            }
        });
        /*验证密码*/
        $("#register-password").change(function () {
            passWord = $("#register-password").val();
            if (passWord.length < 6 || passWord.length > 18) {
                $("#register-password").removeClass("form-control is-valid");
                $("#register-password").addClass("form-control is-invalid");
                flagPas = false;
            } else {
                $("#register-password").removeClass("form-control is-invalid");
                $("#register-password").addClass("form-control is-valid");
                flagPas = true;
            }
        });
        /*验证确认密码*/
        $("#register-passwords").change(function () {
            passWords = $("#register-passwords").val();
            if ((passWord != passWords) || (passWords.length < 6 || passWords.length > 18)) {
                $("#register-passwords").removeClass("form-control is-valid");
                $("#register-passwords").addClass("form-control is-invalid");
                flagPass = false;
            } else {
                $("#register-passwords").removeClass("form-control is-invalid");
                $("#register-passwords").addClass("form-control is-valid");
                flagPass = true;
            }
        });
        $("#register-email").change(function () {
            reg_email = $("#register-email").val();
            if ((reg_email == null) || (reg_email.length < 2)) {
                $("#register-email").removeClass("form-control is-valid");
                $("#register-email").addClass("form-control is-invalid");
                flagPass = false;
            }


            $("#regbtn").click(function () {
                if (flagName && flagPas && flagPass) {
                    localStorage.setItem("name", name);
                    localStorage.setItem("passWord", passWord);
                    location = "login.html"
                } else {
                    if (!flagName) {
                        $("#register-username").addClass("form-control is-invalid");
                    }
                    if (!flagPas) {
                        $("#register-password").addClass("form-control is-invalid");
                    }
                    if (!flagPass) {
                        $("#register-passwords").addClass("form-control is-invalid");
                    }
                }
            })
        });

    });

    $("#send-vcode").click(function () {
            var email = $("#register-email").val();
            if(email==""){
                $("#tip").text('* 邮箱不能为空');
                return false;
            }
            $.ajax({
                url:"{% url 'send_verification_code' %}",
                type:'GET',
                data:{'email': email,
                    'send_for': 'bind_email_code'
                    },
                cache:false,
                success:function (data) {
                    if(data['status']=='ERROR'){
                        alert(data['status']);
                }
            },

            });
            // 把按钮变灰
            $(this).addClass('disabled');
            $(this).attr('disabled', true);
            var time = 30;
            $(this).text(time + 's后再次发送');
            var interval = setInterval(() => {
                if(time <= 0){
                    clearInterval(interval);
                    $(this).removeClass('disabled');
                    $(this).attr('disabled', false);
                    $(this).text('发送验证码');
                    return false;
                }

                time --;
                $(this).text(time + 's后再次发送');
            }, 1000);

        })
</script>
</body>
</html>