a {
    color: black;
}
a:visited{
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}


.blog-post-meta .blog_attribute {
    margin-left: 10px;
}

.jumbotron_bgc {
    color: #ffffff;
    background: url('/static/img/home.jpg') repeat 50%;
    width: 100%;
    height: 500px;
}

#head_title {
    line-height: 500px;
    margin-top: 100px;

}
#bs-example-navbar-collapse-1 > div:nth-child(1) > a.blog-nav-item{
    font-size: 16px;
    margin-right: 15px;
}

#bs-example-navbar-collapse-1 > div.nav.navbar-nav.navbar-right > a{
    font-size: 16px;
    margin-left: 15px;
}

#mobile-nav>span{
    background-color: rgba(221, 221, 221, 0.5);
}


.blog-sidebar .category-item a {
    color: gray !important;
}

.blog-sidebar .category-item {
    color: gray !important;
}

#blog-body img {
    width: 100% !important;
}

#comment_list .comment {
    margin: 15px 0;
}

#comment_list .comment .reply-area {
    background-color: #f8f8f8!important;
    margin-bottom: 15px;
    overflow: hidden;
}

#comment_list .comment .reply-area .reply-list {
    margin: 10px;
    overflow: hidden;
}

#comment_list .comment .reply-area .reply-list .reply {
    margin: 15px;
}


#comment-message>a{
    color: rgb(84, 110, 122);
    font-size: 12px;
    margin-left: 1em;
}

.jumbotron_bgc .container-fluid .navbar-transparent>a{
    font-size: 16px;
    color: white;
    margin-left: 20px;
}
/*#personal{*/
    /*position: relative;*/
/*}*/

/*#personal-nav{*/
    /*position: absolute;*/
    /*top: 39px;*/
    /*right: -58px;*/
/*}*/
#personal-nav>li{
    text-align: right;
}
#personal-nav>li> a{
    height: 50px;
    line-height: 50px;
    color: rgb(230, 230, 230);
}

